@font-face {
    font-family: Landing;
    src: url(./letra/IndieFlower-Regular.ttf);
  } 


body {
  /*   background-image: url('./images/can.jpg'); */
    background-color: white;
    background-size:auto;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Landing;
    font-size: 25px;
}

.image{
    width: 15%;
    height: 15%;
    align-content: center;
    margin-left:0%;
}


